.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
}

.main-nav-link:hover,
.main-nav-link:active {
  background: #ccc;
    color: #333 !important;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(0, 55, 170);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgb(135, 135, 135);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-intro {
  margin-top: 9.6rem;
}

.section-intro {
  background-color: rgb(242, 242, 242);
  padding: 4.8rem 0 9.6rem 0;
}

.intro {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.intro-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.intro-img {
  width: 100%;
  align-items: right;
}

.zoom-img {
  width: 55%;
  height: 55%;
}

.zoom {
  width: 100%;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}

.section-how {
  padding: 9.6rem 0;
}

.step-total {
  font-size: 5.6rem;
  font-weight: 600;
  color: rgb(53, 43, 93);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-active {
  padding: 9.6rem 0;
}

.active {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.active:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.active-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.active-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.section-recovered {
  background-color: rgb(242, 242, 242);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.recovered-container {
  padding: 9.6rem;
}

.recovered {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.section-state {
  padding: 9.6rem 0;
}

.state-plan {
  border-radius: 11px;

  width: 75%;
}

.state-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.state-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.premain {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  border: 3px solid #32e17c;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
}
